:root {
    --black: #101316;
    --gray: #373343;
}

* {
    margin: 0;
    padding: 0px 0px;
}

body {
    background-color: var(--black);
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.text {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.nav__img {
    border-radius: 50%;
    height: 70px;
}

.nav__link {
    color: #f4f4f4;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
}

.nav__btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    color: #f4f4f4;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
}

@media (max-width: 520px) {
    .nav__link {
        display: none;
    }
}


.hero {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    align-items: center;
    margin-top: 10vh;
    background-image: url('./images/red.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 448px;
}

.hero__content {
    max-width: 35rem;
}

.hero__img {
    /* max-width: 35rem; */
    height: auto;
    width: 400px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.hero span {
    align-items: center;
}
