:root {
    --black: #101316;
    --gray: #373C43;
}

* {
    margin: 0;
    padding: 0px 0px;
}

body {
    background-color: var(--black);
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.text {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.nav__img {
    border-radius: 50%;
    height: 70px;
}

.nav__link {
    color: #f4f4f4;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.nav__btn {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    color: #f4f4f4;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
}

@media (max-width: 520px) {
    .nav__link {
        display: none;
    }
}


.hero {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    align-items: center;
    margin-top: 10vh;
    background-image: url('./images/red.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 448px;
}

.hero__content {
    max-width: 35rem;
}

.hero__img {
    /* max-width: 35rem; */
    height: auto;
    width: 400px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
}

.hero span {
    align-items: center;
}

.hero__content p {
    padding: 20px 0;
    /* word-spacing: 6px; */
}

.hero__btn {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.portfolio {
    margin-top: 15vh;
    width: 100%;
    background-color: black;
    padding: 20px;
}

.portfolio__container {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.portfolio__cell {
    height: 500px;
    width: 500px;
    padding: 20px 30px;
    border-radius: 10%;
    cursor: pointer;
}

.portfolio__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 10%;
}

.pricing {
    margin-top: 15vh;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.pricing__container p {
    padding: 20px;
}

.contact {
    margin-top: 15vh;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.contact__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact__container p {
    padding: 20px;
}

.contact__btn {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    background-color: red;
    color: white;
}

.about__container h2 {
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.about__content {
    max-width: 50rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services {
    margin-top: 10vh;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.services__container {
    display: flex;
    justify-content: space-between;
}

.services__cell {
    width: 25rem;
}

.review {
    margin-top: 15vh;
    background-color: black;
}

.review__container {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.footer {
    margin-top: 10vh;
    background-color: black;
    width: 100%;
}

.footer__container {
    margin-top: 5vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.footer__icon {
    color: white;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}